@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --small-font: 8px;
  --med-font: 12px;
  --big-font: 16px
}

@media only screen and (min-width: 768px) {}



body {
  background: rgb(68, 227, 227);
  margin: 0 auto;
  font-family: 'poppins';
  text-align: center;
  font-size: var(--small-font);
}

.geolocationUnavailable {
  font-size: var(--big-font);
  margin: 0 auto;
  margin-top: 10%;
}

.weatherApp {
  margin-top: 5vh;
  margin-bottom: 2vh;
  margin-left: 6vw;
  margin-right: 6vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/************ Main Card ************/

.mainCard {
  border: 2px solid rgb(50, 50, 50);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  height: 350px;
  width: 300px;
}

.userLocation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 35px;
}

.userLocation p {
  margin-left: 8px;
  font-size: var(--big-font);
}

.mainCardCurrent {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#feelsLike {
  margin-left: 4px;
}

#mainCardIcon {
  height: 100px;
  object-fit: fill;
}

.mainCardTemp {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mainCardTempRange {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.mainCardTempRange p {
  padding: 0 6px
}

.mainCardUVAndRain {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.mainCardSun {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/************ Forecast Cards *************/

.forecastCards {
  display: flex;
  flex-direction: column;
}

.forecastCardZero,
.forecastCardOne,
.forecastCardTwo {
  height: 45px;
  width: 300px;
  padding: 10px 10px 10px 10px;
  border: 2px solid rgb(50, 50, 50);
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  align-content: space-evenly;
}

/* .forecastCard {
  display: flex;
  justify-content: space-evenly;
} */

.forecastCard p {
  font-size: var(--small-font);
}

.forecastCard:hover {
  transition-duration: 0.2s;
  animation: ease-in-out;
  transform: scale(1.1);
}

.forecastCardDay p {
  margin: 6px 0;
}

.forecastIconAndTemp img {
  max-width: 100%;
  height: auto;
}

.forecastIconAndTemp p {
  margin: 0 auto;
}