@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --small-font: 8px;
  --med-font: 12px;
  --big-font: 16px
}

@media only screen and (min-width: 768px) {}

body {
  background: rgba(68, 171, 227, 0.617);
  margin: 0 auto;
  font-family: 'poppins';
  text-align: center;
  font-size: var(--small-font);
}

.geolocationUnavailable {
  font-size: var(--big-font);
  margin: 0 auto;
  margin-top: 10%;
}

.weatherApp {
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/************ Main Card ************/

.mainCard {
  border: 2px solid rgba(50, 50, 50, 0.407);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 380px;
  width: 300px;
}

.mainCard p {
  font-size: var(--med-font);
}

#tomorrow {
  font-size: var(--big-font);
  margin-top: -5px;
  margin-bottom: 2px;
}

#inTwoDays {
  font-size: var(--big-font);
  margin-top: -5px;
  margin-bottom: 2px;
}

.userLocation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 35px;
  /* margin-top: 10px; */
}

.userLocation p {
  margin-left: 8px;
  font-size: var(--big-font);
}

.mainCardCurrent {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


#feelsLike {
  margin-left: 4px;
}

#mainCardIcon {
  height: 100px;
  object-fit: fill;
}

#mainCardWeatherText {
  margin: 2px 0;
}

.tempBarRange {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.tempBar {
  width: 180px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(0, 0, 0, 0.18);
  border-radius: 8px;
  background: linear-gradient(to right, rgba(0, 0, 255, 0.60), rgba(255, 0, 0, 0.60));
}

#tempLow {
  margin-right: 6px;
}

#tempHigh {
  margin-left: 6px;
}

.mainCardUVAndRain {
  margin-top: 8px;
  display: grid;
  grid-template-columns: 150px 150px;
}

.mainCardUVText {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#uvLow {
  margin-left: 4px;
  color: green;
}

#uvModerate {
  margin-left: 4px;
  color: yellow
}

#uvHigh {
  margin-left: 4px;
  color: orange
}

#uvVeryHigh {
  margin-left: 4px;
  color: red
}

#uvExtreme {
  margin-left: 4px;
  color: purple
}

.mainCardSun {
  display: grid;
  grid-template-columns: 150px 150px;
}

/************ Forecast Cards *************/

.forecastCards {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.forecastCardZero,
.forecastCardOne,
.forecastCardTwo {
  height: 45px;
  width: 300px;
  margin: 10px;
  border: 2px solid rgb(50, 50, 50);
  border-radius: 25px;
}

.forecastCardZero:hover,
.forecastCardOne:hover,
.forecastCardTwo:hover {
  transition-duration: 0.2s;
  animation: ease-in-out;
  transform: scale(1.1);
}

.forecastCard {
  display: grid;
  grid-template-columns: 100px 100px 100px;
}

.forecastCard p {
  font-size: var(--small-font);
}

#activeCard {
  background: rgb(64, 120, 232);
}

.forecastCardDay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.forecastCardDay p {
  margin: 2px 0;
}

.forecastIconAndTemp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.forecastIconAndTemp p {
  margin: 2px 0;
}

#forecastIcon {
  height: 20px;
  object-fit: fill;
}

.forecastAvg {
  display: flex;
  justify-content: center;
}

.forecastAvg p {
  font-size: var(--med-font);
}