body {
  background: aqua;
}

.weatherApp {
  text-align: center;
}

.geolocationUnavailable {
  font-size: larger;
  margin: 0 auto;
  margin-top: 10%;
}

.forecastCards {
  display: flex;
  flex-direction: row;
  justify-content: center;
}